.App {
  text-align: center;
}

.wrapper {
  margin: 0 2%;
  position: relative;
  top: 250px;
}

.headerImg {
  background: url('../assets/barn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: bottom;
  overflow: hidden;
}

.shadow-font {
  font-family: 'Shadows Into Light Two', cursive;
}

h2 {
  font-family: 'Shadows Into Light Two', cursive;
}

.nav-links {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

p {
  font-family: 'Raleway', sans-serif;
}
