h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-top: 20px !important;
}

.privacy {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

ul,
li {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-top: 20px !important;
}
