.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.title-nav {
  height: 30px;
}
.cookiebarne-logo {
  height: 25px;
  position: absolute;
  left: 20px;
  top: 10px;
  padding: 0px;
}

.title-header {
  list-style-type: none;
  margin: 0;
  width: 200px;
  display: block;
  color: #000;
  text-decoration: none;
}

.homepage-three-boxes-wrap {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  background: #cacaca;
  margin: 0;
  padding: 0;
}

.box {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  background: #fafafa;
  width: 33%;
}

.wrapper {
  margin: 0 2%;
  position: relative;
  top: 250px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Instafeed {
  height: auto;
  max-width: 480px;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  display: inline-block;
  padding: 10px;
}

.headerImg {
  background: url('assets/barn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: bottom;
  overflow: hidden;
}
